<div class="portal-container">

  <!-- Sidebar esquerda -->
  <aside class="sidebar esquerda">
    <h5>Sidebar Esquerda</h5>
    <!-- publicidade, links, categorias, etc. -->
    <a href="{{publicidadeSidebarE?.linkDestino}}" target="_blank">
      <img src="{{publicidadeSidebarE?.imagemUrl}}" alt="{{publicidadeSidebarE?.titulo}}">
    </a>
  </aside>

  <!-- Conteúdo principal -->
  <main class="conteudo">

    <div class="publi">
      <a href="{{publicidadeTopo?.linkDestino}}" target="_blank">
        <img src="{{publicidadeTopo?.imagemUrl}}" alt="{{publicidadeTopo?.titulo}}">
      </a>
    </div>

    <!-- Última notícia (destaque) -->
    <div class="ultimaNoticia" *ngIf="ultimaNoticia">
      <a class="linkNoticia destaque" (click)="abrirDetalhes(ultimaNoticia.id)">
        <img [src]="ultimaNoticia.imagem_url" [alt]="ultimaNoticia.titulo">
        <h2>{{ultimaNoticia.titulo}}</h2>
        <p>{{ultimaNoticia.corpo | smartSlice:100}}</p>
      </a>
    </div>

    <hr>

    <!-- Lista de notícias >
    <div class="listaNoticias" *ngFor="let noticia of noticia$">
      <a class="linkNoticia" (click)="abrirDetalhes(noticia.id)">
        <img [src]="noticia.imagem_url" [alt]="noticia.titulo">
        <div>
          <h4>{{noticia.titulo}}</h4>
          <p>{{noticia.corpo}}</p>
        </div>
      </a>
    </div>

    <!- Paginação ->
    <div class="paginacao">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">Anterior</button>
      <span>Página {{paginaAtual}}</span>
      <button (click)="proximaPagina()">Próxima</button>
    </div-->



    <!-- Lista paginada -->
    <div *ngFor="let noticia of noticiasPaginadas" class="listaNoticias">
      <a class="linkNoticia" (click)="abrirDetalhes(noticia.id)">
        <img src="{{noticia.imagem_url}}" alt="{{noticia.titulo}}">
        <h4>{{noticia.titulo}}</h4>
        <p>{{noticia.corpo | smartSlice:100 }}</p>
      </a>
    </div>

    <!-- Controles -->
    <div class="paginacao">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">Anterior</button>
      <span>Página {{paginaAtual}} de {{totalPaginas}}</span>
      <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">Próxima</button>
    </div>

    <div class="publi">
      <a href="{{publicidadeRodape?.linkDestino}}" target="_blank">
        <img src="{{publicidadeRodape?.imagemUrl}}" alt="{{publicidadeRodape?.titulo}}">
      </a>
    </div>

  </main>

  <!-- Sidebar direita -->
  <aside class="sidebar direita">
    <h5>Sidebar Direita</h5>
    <!-- banners, notícias populares, etc. -->
     <a href="{{publicidadeSidebarD?.linkDestino}}" target="_blank">
      <img src="{{publicidadeSidebarD?.imagemUrl}}" alt="{{publicidadeSidebarD?.titulo}}">
    </a>
  </aside>

</div>